body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    min-height: 100vh;
}

.container {
    padding: 30px;
    max-width: 900px;
    margin: 70px auto;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #9aa4bf;
    margin-bottom: 25px;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #11172a;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    min-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card-title {
    color: #9aa4bf;
    font-size: 14px;
}

.amount {
    font-size: 28px;
    margin: 10px 0;
    color: #00e0ff;
}

.small-text {
    font-size: 13px;
    color: #9aa4bf;
}

.navbar {
  background-color: #1a1a1a;
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu button {
  margin-right: 10px;
  background-color:  #333;
    color: white;
  border: none;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 14px;
}

#acc{
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #00bcd4;
  color: black;
  border-radius: 50%;
}

.menu button a {
  text-decoration: none;
    color: white;
}

.menu button:hover {
    background-color: #00bcd4;
    color: white;
    box-shadow: 0 0 15px rgba(0, 173, 235, 0.8);
}

.menu button.active {
    background-color: #00bcd4;
    color: black;
    box-shadow: 0 0 15px rgba(0, 173, 235, 0.8);
}
.menu button a:hover {
    color: black;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 1000;
}

.dropdown.show {
    display: block;
}

.dropdown p {
    margin: 0 0 10px 0;
    color: #aaa;
}

.dropdown a {
    color: #00bcd4;
    text-decoration: none;
}

/*tablet*/
@media (max-width: 900px) {
    .menu {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}


/* ================= MOBILE ================= */

@media (max-width: 600px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Make normal buttons flexible */
    .menu button:not(#acc) {
        flex: 1;
        text-align: center;
    }

    /* Keep profile circle fixed */
    #acc {
        width: 40px;
        height: 40px;
        flex: 0 0 40px;
        align-self: flex-end;
    }
}