body {
    font-family: Arial, sans-serif;
    background-color:#111;
    height: 100vh;
    margin: 0;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    background-color:#1a1a1a;
    padding: 25px;
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-box input {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.error-message {
    color: #ff4d4d;
    margin-bottom: 15px;
    font-size: 14px;
}

.signup-box button {
    width: 100%;
    padding: 10px;
    justify-content: center;
    background-color: #00bcd4;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    border-radius: 7px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.signup-box button:hover {
     box-shadow: 0 0 15px rgba(0, 173, 235, 0.8);
     transform: scale(1.02);
}